dependencies/linux/astra_sdk/*
!dependencies/linux/astra_sdk/lib
!dependencies/linux/astra_sdk/include

dependencies/windows/astra_sdk/*
!dependencies/windows/astra_sdk/lib
!dependencies/windows/astra_sdk/include
!dependencies/windows/astra_sdk/LICENSE.txt
!dependencies/windows/astra_sdk/README.txt