dependencies/linux/astra_sdk/*
!dependencies/linux/astra_sdk/lib
!dependencies/linux/astra_sdk/include
!dependencies/linux/astra_sdk/LICENSE.txt
!dependencies/linux/astra_sdk/README.txt

dependencies/windows/astra_sdk/*
!dependencies/windows/astra_sdk/lib
!dependencies/windows/astra_sdk/include
!dependencies/windows/astra_sdk/LICENSE.txt
!dependencies/windows/astra_sdk/README.txt


*astra.log
*.o
*.os
godot_demo_export/*
!godot_demo_export/Launcher.sh
!godot_demo_export/Plugins
*.log
AstraAndroidModule/__pycache__
*.dblite
godot_demo/addons/godot_astra_plugin/gdnative/x11/
*.import